---
import Layout from "@/layouts/layout.astro";
import Market from "@/components/market.astro";
import Passport from "@/components/passport.astro";
import Fuel from "@/components/fuel.astro";
import Trends from "@/components/trends.astro";

const today = new Date().toLocaleDateString("id-ID", {
	day: "numeric",
	month: "long",
	year: "numeric",
});
---

<Layout title="Home">
	<div class="space-y-20">
		<p class="text-sm font-bold mb-8 md:mb-4 opacity-70 italic w-fit ml-auto">
			Data terakhir diupdate: {today}
		</p>
		<Market />
		<Passport />
		<Fuel />
		<Trends />
	</div>
</Layout>
