<header class="border-b-[6px] border-black p-6 md:p-10 bg-white">
	<div class="flex justify-between items-center gap-4 mb-8">
		<h1
			class="text-red-500 text-[clamp(1rem,8vw,5rem)] font-black uppercase leading-[0.8] tracking-tighter italic"
		>
			INDONESIA
			<span
				class="block text-transparent stroke-black"
				style="-webkit-text-stroke: 2px black;"
			>
				INDIKATOR
			</span>
		</h1>

		<div
			class="md:-translate-x-3 lg:-translate-x-2 border-[5px] border-black w-16 md:w-32 aspect-3/2 flex flex-col shadow-[6px_6px_0px_0px_rgba(0,0,0,1)] shrink-0"
		>
			<div class="h-1/2 bg-[#FF3E3E] w-full"></div>
			<div class="h-1/2 bg-white w-full"></div>
		</div>
	</div>

	<nav
		class="flex flex-wrap gap-4 md:gap-8 font-black uppercase text-sm md:text-lg"
	>
		<a href="/" class="hover:text-[#FF3E3E] transition-colors underline">Home</a
		>
		<a href="/passport" class="hover:text-[#FF3E3E] transition-colors underline"
			>Ranking Paspor</a
		>
		<a href="/fuel" class="hover:text-[#FF3E3E] transition-colors underline"
			>Fuel Indicator</a
		>
	</nav>
</header>
